[submodule "themes/Stack"]
	path = themes/Stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/void"]
	path = themes/void
	url = https://github.com/Daucloud/hugo-theme-void
